[submodule "lua"]
	path = lua
	url = git://github.com/LuaDist/lua.git
[submodule "Examples/SwiftPlanets/RaptureXML"]
	path = Examples/SwiftPlanets/RaptureXML
	url = https://github.com/ZaBlanc/RaptureXML.git
