<%
schemaName = capitalizedString(this.namespace)
%><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=schemaName%> Reference</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <div id="index">
        <div class="indexTitle"><%=schemaName%></div><br/>
        <div class="indexSectionHeader">Elements</div>
        <ul class="indexList">
<%
for k,v in pairs(schema.elements) do
    -- if not in the schema namespace, skip
    if (schema.namespace == v.namespace) then
%>      <li><a href="#element_<%=className(v)%>"><%=className(v)%></a></li>
<%
    end
end
%>
        </ul>

        <div class="indexSectionHeader">Enums</div>
        <ul class="indexList">
            <li>lorum</li>
            <li>ipsum</li>
            <li>dolor</li>
            <li>sitamet</li>
        </ul>
        <div class="types">Enums</div>
        <ul class="indexList">
            <li>lorum</li>
            <li>ipsum</li>
            <li>dolor</li>
            <li>sitamet</li>
        </ul>
    </div>
    <div id="docs">
        <div class="docsTitle"><%=schemaName%></div><br/>
        <div class="docsSectionHeader" name="elements">Elements</div><br/>
<%
for k,v in pairs(schema.elements) do
    -- if not in the schema namespace, skip
    if (schema.namespace == v.namespace) then
%>      <div class="docsElementName" id="element_<%=className(v)%>"><%=className(v)%></div>
        <ul class="docsList">
<%      for k1,v1 in pairs(v.sequences) do
            sequenceName = v.name
            typeName = v.name
            if (v.name == "any") then
                typeName = "any types of"
            elseif (isPlural(v)) then
                sequenceName = lowercasedString(pluralName(v.name))
                typeName = simpleTypeForItem(v)
            else
                sequenceName = lowercasedString(v.name)
            end
%>
            <li class="docsAttribute"><span class="docsAttributeTitle"><%=sequenceName%></span> (<span class="docsAttributeType">List of <%=typeName%> elements</span>) - <span class="docsAttributeDescription">description</span></li>
<%
        end
        for k1,v1 in pairs(v.attributes) do
%>
            <li class="docsAttribute"><span class="docsAttributeTitle"><%=v1.name%></span> (<span class="docsAttributeType"><%=v1.type%></span>) - <span class="docsAttributeDescription">description</span></li>
<%
        end
%>
        </ul>
<%
    end
end
%>

    </div>
  </body>
</html>
