<%
schemaName = capitalizedString(this.namespace)

function elementComparator(e1,e2)
    if className(e1) < className(e2) then
        return true
    end
end

function simpleComparator(e1,e2)
    if e1.name < e2.name then
        return true
    end
end

function enumValueComparator(e1,e2)
    if e1.attributes.value < e2.attributes.value then
        return true
    end
end

table.sort(schema.elements, elementComparator)
table.sort(schema.simpleTypes, simpleComparator)

%><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=schemaName%> Reference</title>
    <link rel="stylesheet" href="<%=schemaName%>.css">
    <!--<script src="script.js"></script>-->
  </head>
  <body>
    <div id="index">
        <div class="indexTitle"><%=schemaName%></div><br/>
        <div class="indexSectionHeader"><a href="#elements">Elements</a></div>
        <ul class="indexList">
<%
for k,v in pairs(schema.elements) do
    -- if not in the schema namespace, skip
    if (schema.namespace == v.namespace) then
%>      <li><a href="#element_<%=className(v)%>"><%=className(v)%></a></li>
<%
    end
end
%>
        </ul>

        <div class="indexSectionHeader"><a href="#enumerations">Enumerations</a></div>
        <ul class="indexList">
<%
for k,v in pairs(schema.simpleTypes) do
    if (isEnumForItem(v)) then
        if (schema.namespace == v.namespace) then
%>          <li><a href="#enum_<%=v.name%>"><%=v.name%></a></li>
<%
        end
    end
end
%>
        </ul>
        <div class="types"><a href="#simpleTypes">Simple Types</a></div>
        <ul class="indexList">
<%
for k,v in pairs(schema.simpleTypes) do
    if (not isEnumForItem(v)) then
        if (schema.namespace == v.namespace) then
            local typeName = mappedNameForSimpleTypeName(v.name)
%>          <li><a href="#simpleType_<%=typeName%>"><%=typeName%></a></li>
<%
        end
    end
end
%>
        </ul>
    </div>
    <div id="docs">
        <h1><%=schemaName%></h1>
        <h2 id="elements">Elements</h2>
<%
for k,v in pairs(schema.elements) do
    -- if not in the schema namespace, skip
    if (schema.namespace == v.namespace) then
%>      <h3 id="element_<%=className(v)%>"><%=className(v)%></h3>
<%  if (superclassForItem(v) ~= nil) then %>
        <div>(<%=className(v)%> <%

            local p = superclassForItem(v)
            while(p ~= nil) do
                %> &#8592; <a href="#element_<%=className(p)%>"><%=className(p)%></a><%
                p = superclassForItem(p)
            end


            %>)</div>
<% end %>
<%
        for k1,v1 in pairs(v.appinfos) do
%>
        <div class="docsElementDesc"><%=v1%></div>
<%      end
%>
        <ul class="docsList">
<%      table.sort(v.sequences, simpleComparator)
        for k1,v1 in pairs(v.sequences) do
            local sequenceName = v1.name
            local typeName = v1.name
            if (typeName == "any") then
                typeName = "any type of"
            elseif (isPlural(v1)) then
                sequenceName = lowercasedString(pluralName(v1.name))
                typeName = simpleTypeForItem(v1)
                typeName = "<a href=\"#element_"..typeName.."\">"..typeName.."</a>"
            else
                sequenceName = lowercasedString(v.name)
                typeName = "<a href=\"#element_"..typeName.."\">"..typeName.."</a>"
            end
%>
            <li class="docsAttribute"><span class="docsAttributeTitle"><%=sequenceName%></span> (<span class="docsAttributeType">List of <%=typeName%> elements</span>)<!-- - <span class="docsAttributeDescription">description</span>--></li>
<%
        end
        table.sort(v.attributes, simpleComparator)
        for k1,v1 in pairs(v.attributes) do
            local typeName = typeForItem(v1)
            if isEnumForItem(v1) then
                typeName = "<a href=\"#enum_"..typeName.."\">"..typeName.."</a>"
            elseif isGaxbTypeForItem(v1) then
                typeName = typeNameForSimpleType(v1)
                typeName = "<a href=\"#simpleType_"..typeName.."\">"..typeName.."</a>"
            end
%>
            <li class="docsAttribute"><span class="docsAttributeTitle"><%=v1.name%></span> (<span class="docsAttributeType"><%=typeName%></span>)<!-- - <span class="docsAttributeDescription">description</span>--></li>
<%
        end
%>
        </ul>
<%
    end
end
%>
        <div class="docsSectionHeader" id="enumerations">Enumerations</div><br/>

<%
for k,v in pairs(schema.simpleTypes) do
    if (isEnumForItem(v)) then
        if (schema.namespace == v.namespace) then
%>      <h3 id="enum_<%=v.name%>"><%=v.name%></h3>
        <ul class="docsList">
<%
            local appinfo = gaxb_xpath(v.xml, "./XMLSchema:annotation/XMLSchema:appinfo");
            local enums = gaxb_xpath(v.xml, "./XMLSchema:restriction/XMLSchema:enumeration");

            if(appinfo ~= nil) then
                appinfo = appinfo[1].content;
            end

            table.sort(enums, enumValueComparator)
            if(appinfo == "ENUM" or appinfo == "NAMED_ENUM") then
                for k,v in pairs(enums) do
%>
            <li><%=v.attributes.value%></li>
<%
                end
            end
%>
        </ul>
<%
        end
    end
end
%>

        <div class="docsSectionHeader" id="simpleTypes">Simple Types</div><br/>
<%
for k,v in pairs(schema.simpleTypes) do
    if (not isEnumForItem(v)) then
        if (schema.namespace == v.namespace) then
        local typeName = mappedNameForSimpleTypeName(v.name)
%>      <h3 id="simpleType_<%=typeName%>"><%=typeName%></h3>
<%
        end
    end
end
%>

    </div>
  </body>
</html>
