body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.33em;
    text-decoration: none!important;
    margin: 0;
}

a {
    color: red;
    text-decoration: none;
}

ul {
    margin-left: .5em!important;
    padding-left: .5em!important;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin-top: 3em;
    text-transform: uppercase;
}

h3 {
    margin-top: 2em;
}
hr {
    width: 3em;
}

#index {
    float:left;
    width:100%;
    padding: 2em;
    margin: 0;
    display: block;
    background-color: #efefef;
}

#docs {
    float:left;
    width:100;
       padding: 2em;
       display: block;
}

.indexTitle {
    font-weight:bold;
}

.docsTitle {
    font-size:24pt;
    font-weight:bold;
}

.docsSectionHeader {
    font-size:20pt;
}

.docsSectionHeader {
    font-size:18pt;
}


/*--------RESPONSIVENESS----------*/

@media (min-width: 1024px) {

#index {
    float:left;
    width:12em;
    position: fixed!important;
    top: 0;
    left: 0;
    padding: 2em;
    display: block;
    background-color: #efefef;
    height: 100%;
}

#docs {
    float:right;
    width:70%;
       padding: 1em;
       display: block;
}


}
