body {
    font-family: Helvetica;
}

#index {
    float:left;
    width:20%;
}

#docs {
    float:right;
    width:80%;
}

.indexTitle {
    font-weight:bold;
}

.docsTitle {
    font-size:24pt;
    font-weight:bold;
}

.docsSectionHeader {
    font-size:20pt;
}

.docsSectionHeader {
    font-size:18pt;
}
